#pin_show.row
  .col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-heading.pin_image
        = image_tag @pin.image.url
      .panel-body
        %h1= @pin.title
        %p.description= @pin.description
      .panel-footer
        .row
          .col-md-1
            %img{ gravatar_attrs(@pin.user, :size => 45) }/
          .col-md-6
            %p
            Submitted by
            = link_to @pin.user.username, user_path(@pin.user.username)
            %p
            = time_ago_in_words(@pin.created_at)
            ago
          .col-md-5
            .btn-group.pull-right
              = link_to like_pin_path(@pin), method: :put, class: "btn btn-default" do
                %span.glyphicon.glyphicon-heart
                  = @pin.get_upvotes.size
              - if @pin.user == current_user
                = link_to "Edit", edit_pin_path, class: "btn btn-default"
                = link_to "Delete", pin_path, method: :delete, class: "btn btn-default"
    = render :partial => @pin.comments
    - if user_signed_in?
      = simple_form_for [@pin, Comment.new] do |f|
        .form-group
          = f.input :body, input_html: { class: "form-control" }
        = f.button :submit, class: "btn btn-primary"